<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>タイトル</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    </head>
    <body>
    <article>
        <figure>
            <img src="/static/img/LineCPSLAB.png" alt="main figure"/>
        </figure>
        <p>{{displayName}}さんログインありがとうございました。</p>
{#        <div class="wrapper">#}
{#            <div class="element">BLOCK1</div>#}
{#            <div class="element">BLOCK2</div>#}
{#            <div class="element">BLOCK3</div>#}
{#        </div>#}
    </article>
    </body>
</html>